body {
	background: #f9e933;
	font-family: 'Slabo 27px', serif;
}
h1, h2, h3, h5 {
	font-family: 'Ubuntu', sans-serif;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header {
	background: white;
	overflow: auto;
}
h1 {
	float: left;
	width: 570px;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
	overflow: auto;
}
.text {
	float: left;
	width: 570px;
}
.img {
	float: right;
	width: 285px;
}
.contact {
	float: left;
	width: 570px;
}
.sitemap {
	float: right;
	width: 285px;
}
.home {
	float: left;
	width: 145px;
	
}
.support {
	float: right;
	width: 140px;
}