body {
	background: #f9e933;
	font-family: 'Slabo 27px', serif;
	font-size: 100%;
}
h1 {
	font-style: italic;
	font-size: 2.5em;
	font-family: 'Ubuntu', sans-serif;
	color: #B22222;
	float: left;
	width: 570px;
}
h2 {
	font-size: 1.8em;
	line-height: 1.5;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 30px;
}
h3 {
	font-size: 1.2em;
	line-height: 1.2;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 20px;
}
.text ul {
	list-style: circle inside;
}
h5 {
	font-size: 1.2em;
	font-family: 'Ubuntu', sans-serif;
}
header, main, footer {
	min-width: 855px;
}
header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}
header .container {
	margin-top: 20px;
}
header {
	background: white;
	overflow: auto;
}
header nav {
	float: right;
	width: 285px;
}
main {
	background: white;
	overflow: auto;
}
.text {
	float: left;
	width: 570px;
}
.img {
	float: right;
	width: 285px;
}
footer .container {
	margin-top: 30px;
}
.contact {
	float: left;
	width: 570px;
}
h5 + p {
	font-style: italic;
	color: #B22222;
	margin-top: 15px;
}
.sitemap {
	float: right;
	width: 285px;
}
.home {
	float: left;
	width: 145px;
	margin-top: 15px;
	
}
.support {
	float: right;
	width: 140px;
	margin-top: 15px;
}
a {
	text-decoration: none;
	color: red;
}